.nf-original-card {
  transition: transform 0.5s;
  img {
    object-fit: contain;
    &.landscape {
      height: 100px;
    }
    &.portrait {
      height: 250px;
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
