.navigation {
  padding: 16px;
  height: 30px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  &.nav-black {
    background-color: #111;
  }
  .nav-content {
    display: flex;
    justify-content: space-between;
    .nav-logo {
      width: 80px;
      left: 20px;
    }
    .avatar-logo {
      width: 25px;
      position: fixed;
      right: 20px;
    }
  }
}
