.navigation {
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
  .nav-content {
    display: flex;
    justify-content: space-between;
    .nav-logo {
      position: fixed;
      width: 80px;
      left: 20px;
    }
    .avatar-logo {
      width: 25px;
      position: fixed;
      right: 20px;
    }
  }
}
