.content-list {
  .content-title {
    padding: 16px 8px;
  }
  .content-items {
    margin-left: 24px;
    overflow-x: auto;
    overflow-y: hidden;
    .nf-original-card {
      margin-right: 8px;
    }
  }
}
